<h1>Please enter the following information and sign up for our Newsletter!</h1>

<fieldset>
    <legend>Registration</legend>
    <form name='signupForm' novalidate>

        <input type="text" name="firstName" placeholder="First Name" ng-model="signup.user.firstName" required
            minlength="1" ng-maxlength="50">
        {{ signup.user.firstName }}
        <span
            ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) && signupForm.firstName.$touched">
            A value must be entered for the First Name.
        </span>
        <span ng-if="signupForm.firstName.$error.maxlength && signupForm.firstName.$touched">
            First Name has a max of 50 characters.
        </span>
        <br>

        <input type="text" name="lastName" placeholder="Last Name" ng-model="signup.user.lastName" required
            minlength="1" ng-maxlength="50">
        {{ signup.user.lastName }}
        <span
            ng-if="(signupForm.lastName.$error.minlength || signupForm.lastName.$error.required) && signupForm.lastName.$touched">
            A value must be entered for the Last Name.
        </span>
        <span ng-if="signupForm.lastName.$error.maxlength && signupForm.lastName.$touched">
            Last Name has a max of 50 characters.
        </span>
        <br>

        <input type="email" name="email" placeholder="Email" ng-model="signup.user.email" required>
        <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Please enter in email@provider.something format.
        </span>
        <br>

        <input type="text" name="phone" placeholder="Phone Number: ###-###-####" ng-model="signup.user.phone"
            pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
            Please enter phone number in ###-###-#### format.
        </span>
        <br>

        <button ng-disabled="signupForm.$invalid" ng-click="signup.submit()">Submit</button>

        <div style="margin-top: 10px;">
            Form valid? {{ signupForm.$valid }}
        </div>
    </form>
</fieldset>

<div id="info" ng-if="signup.completed">
    First Name: {{ signup.user.firstName}} <br>
    Last Name: {{ signup.user.firstName}} <br>
    Email: {{ signup.user.email}} <br>
    Phone: {{ signup.user.phone }}
    <!-- Favorite Item: {{ signup.user.favorite }} -->
</div>