<!doctype html>
<html lang = "en">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
  <h1>Lunch Checker</h1>
   <div ng-controller='LunchCheckController'>
        <div>
          Please note that an empty entry between two commas is not counted as a lunch object.  Example case : " , , " would not be counted.
        </div>
         <div class="form-group">
             <input type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-click="checkAmount()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{response}}
         </div>
   </div>

</body>
</html>
